{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'task/css/task.css' %}"></link>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task</title>
</head>
<body>
    <div class="Menu_container">
        <nav>
            <ul class="nav_link">
                <li><a href="#">Công Việc</a></li>
                <li><a href="#">ABc</a></li>
                <li><a href="#">sss</a></li>
            </ul>
        </nav>
    </div>
</body>
</html>